# Foundry Artifacts
out/
cache/
broadcast/
lib/

# TypeScript / Node
node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
.history/
.DS_Store

# Temporary files
*.swp
*~

package-lock.json

/docs